@import "tailwindcss";

@font-face {
    font-family: "OverusedGrotesk";
    src: url("/fonts/OverusedGroteskRoman-VF.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-overused: "OverusedGrotesk", sans-serif;
}

body {
    font-family: var(--font-overused), sans-serif;
}
